.DS_Store
examples/haxe/api/API/*
examples/hax/api/www/*
examples/anonymous.*
composer.phar
composer.lock
node_modules
vendor/
examples/vendor
src/hybrid/java
src/hybrid/www
src/hybrid/store.js
src/hybrid/datastore
